.imgs {
    width:200px;
    height:200px;
}
.imagesCont {
    text-align:center;
    background-color:rgb(230, 220, 220);
    color: rgb(19, 14, 14);
    margin: 10%;
    font-size: 24px;
}
body {
   background-image: url('../images/background.png');
    font-family: 'Raleway', sans-serif;
}
#titleTop,
#titleTop2 {
    text-align:center;
    font-size: 56px;
    color:rgb(230, 220, 220);
}
#titleTop2 {
    font-size:16px;
}
.redAlert {
    color: rgb(142, 25, 25);
}
.imgs:hover {
    border-color: rgb(115, 232, 238);
    border-style: solid;
    border-radius:25px;
}